<div class="container">
  <div class="container-inner inner-default clearfix">
    <% items.each do |item| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% if item['mediumImageUrls'].present? %>
              <%= image_tag(item['mediumImageUrls'].first['imageUrl'].gsub('?_ex=128x128', ''),:alt => "item.image") %>
            <% else %>
              <%= image_tag("no-image.png",:alt => "item.image")%>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <%= item['itemName'] %>
          </p>
        </div>
        <div class="action clearfix">
          <% if current_user.want_item_rakuten? item %>
            <%= link_to "" , ownership_path(current_user.get_want_item_rakuten(item) , 
                      item_id: current_user.get_want_item_rakuten(item).item.id , type: "Want") ,
                      :class => "btn-want btn btn-danger btn-sm want_it",
                      :remote => true,
                      :method => :delete %>
          <% else %>
            <%= link_to "" , ownerships_path(item_code: item['itemCode'] , type: "Want") ,
                      :class => "btn-want btn btn-danger btn-sm want",
                      :remote => true,
                      :method => :post %>
          <% end %>
          <% if current_user.have_item_rakuten? item %>
            <%= link_to "" , ownership_path(current_user.get_have_item_rakuten(item) , 
                      item_id: current_user.get_have_item_rakuten(item).item.id , type: "Have") ,
                      :class => "btn-want btn btn-danger btn-sm have_it",
                      :remote => true,
                      :method => :delete %>
          <% else %>
            <%= link_to "" , ownerships_path(item_code: item['itemCode'] , type: "Have") ,
                      :class => "btn-want btn btn-danger btn-sm have",
                      :remote => true,
                      :method => :post %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
